body
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

main
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

.hero
  width: 100%
  max-width: 840px

.form
  margin-bottom: 16px

.form-section
  flex: 1
  display: flex
  align-items: center
  justify-content: center

.file-upload-field
  width: 100%
  .file-name
    flex: 1
    max-width: none
  .file-cta
    flex: 1

footer
  flex-shrink: 0
  min-height: 60px
  display: flex
  justify-content: center
  align-items: center
  border-top: 1px solid #d0d0d0
  width: 100%

.sr-only-thumb-img
  display: none
  top: -100000000px
  left: -10000000px
  position: absolute

.control-input
  flex: 1
